.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: navajowhite;
  padding: 2rem;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: space-between;
  max-width: 32rem;
  margin-top: 4rem;
}

.button {
  background-color: lighten(navajowhite, 3%);
  color: darken(navajowhite, 50%);
  text-decoration: none;
  box-shadow: none;
  border: 1px solid darken(navajowhite, 50%);
  padding: 1.2rem 2rem;
  font-size: 2rem;
  cursor: pointer;
  border-radius: .4rem;

  &:hover {
    box-shadow: 0 0 10px 2px #50C878;
    color: sandybrown;
  }
}

h1 {
  font-weight: normal;
  font-family: serif;
  font-size: 3rem;
  margin-bottom: 0;
  line-height: 4rem;
  color: black;
  border-radius: 1rem;
}

a {
  margin-bottom: 2rem;
  line-height: 1;
  padding: 0;

  &:hover {
    box-shadow: 0 0 20px 5px #50C878;
    border-radius: 0;
  }
}

#reflected-fractal-tree {
  width: 16rem;
  height: 8rem;
  margin-bottom: 8rem;
  -webkit-box-reflect: below 0 linear-gradient(to bottom, rgba(0, 0, 0, 0%), rgba(0, 0, 0, 40%));
}

#vibrations, #pendulum, #universe, #causation {
  width: 16rem;
  height: 16rem;
  margin-bottom: -4px;
}

#yin-yang {
  box-sizing: content-box;
  position: relative;
  background-color: white;
  height: 16rem;
  border-color: black;
  border-style: solid;
  width: 8rem;
  border-width: 2px 8rem 2px 2px;
  border-radius: 50%;
  animation: roll 16s infinite linear;

  &:hover {
    background-color: black;
    border-color: white;
    border-width: 0 8rem 0 0;
    box-shadow: 0 0 0 2px black;
    margin: 2px 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    border: 3rem solid #000;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    background-color: black;
    border: 3rem solid white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
  }
}

p {
  text-align: center;
  text-wrap: balance;
  line-height: 3rem;
  font-size: 1.5rem;
  letter-spacing: .072em;
  margin-bottom: 0;
}


@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
